body {
	background: rgba(49, 126, 197, 0.849);
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	padding: 5%;
	padding-bottom: 2.5%;
	font-family: "Sacramento", cursive;
}
img {
	width: 50px;
	height: 50px;
}
h1 {
	font-size: 30px;
	margin: 0;
}
.postcard-body {
	display: flex;
	padding: 5px;
}
.ps {
	margin-top: 0;
}
.body-left {
	flex: 1;
	padding-top: 4%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.body-right {
	display: flex;
	flex-direction: column;
	padding-top: 2%;
	padding-left: 2.5%;
	padding-right: 4%;
}
.body-right input {
	border: 0;
	border-bottom: solid 1px grey;
	font-family: "Amiri", serif;
}
p {
	font-size: small;
	font-style: italic;
	font-family: "Amiri", serif;
	width: max-content;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	padding: 5px;

	background-color: gainsboro;
	border: none;
	color: black;
	padding: 7px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	font-family: "Amiri", serif;
}
